db
edge

# Ignore build artifacts
build
dist

# Ignore development files
*.log
.cache
.husky
.vscode
.editorconfig
.eslintrc.cjs
.git*
.pnp*
.prettier*
README*

# Ignore package manager lock files
package-lock.json
